select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.excel-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rosybrown;
  font-size: x-large;
}

@media screen and (max-width: 600px) {
  .col-35 {
    width: 100%;
    margin-top: 0;
  }
}
