* {
  box-sizing: border-box;
}

.inputField,
.textField,
.select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.labelText {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.dropdownText-row {
  display: flex;
  justify-content: space-between;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
  text-align: left;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 48.5%;
}

.date-input {
  text-transform: uppercase;
}

.container-dropdown {
  padding: 20px 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-40,
  .col-60,
  .col-100 {
    width: 100%;
    margin-top: 0;
  }
}
